.App {
  text-align: center;
}


:root {
  --white: #FFF;
  --black: #555;
  --blue: #3CC;
  --yellow: #FF6;
  --pink: #F9F;
  --green: #9F6;
  --orange: #F93;
  --purple: #96F;
}


body,
header,main,section,
div,section,
h1,h2,h3,p,input,button,
a,a:visited,
ul,li,
dl,dt,dd {
  box-sizing: border-box;
  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  font-size: 12px;
  font-family: sans-serif;
  word-break: break-all;
  cursor: default;
  text-decoration: none;
}